<div class="container">
  <ul class="general">
    <li class="categories"><i class="fa-solid fa-layer-group"></i><a class="cat">Catégories</a></li>
    <li><i class="fa-solid fa-motorcycle"></i><a>Michael Blast</a></li>
    <li class="Maison-hover"><i class="fa-solid fa-house-chimney-user"></i><a>Maison & cuisine </a ><span><i class="fa-solid fa-greater-than"></i></span>
      <div class="maison-cuisine">
        <ul class="maison">
          <li><a href="#">Airfryer / friteuses</a></li>
          <li><a href="#">Aspirateurs</a></li>
          <li><a href="#">Blender</a></li>
          <li><a href="#">Bouilloire</a></li>
          <li><a href="#">Chauffage</a></li>
          <li><a href="#">Ariete vintage</a></li>
          <li><a href="#">Cuisson</a></li>
          <li><a href="#">Extracteur de jus</a></li>
          <li><a href="#">Fer à repasser</a></li>
          <li><a href="#">Fête & occasion</a></li>
          <li><a href="#">Hachoir</a></li>
          <li><a href="#">Machine à café</a></li>
          <li><a href="#">Mixeur Plongeant</a></li>
          <li><a href="#">Multicooker</a></li>
          <li><a href="#">Petrin</a></li>
          <li><a href="#">Presse agrumes</a></li>
          <li><a href="#">Toaster & panini</a></li>
          <li><a href="#">Défaut d'emballage</a></li>
        </ul>
      </div>
    </li>

    <li class="maison-connectée-hover"><i class="fa-solid fa-house-chimney-crack"></i><a>Maison connectée </a><span><i class="fa-solid fa-greater-than"></i></span>
      <div class="maison-cuisine maison-connectée">
        <ul class="maison">
          <li><a href="#">Serrure intelligente</a></li>
          <li><a href="#">Objet connecté</a></li>
          <li><a href="#">Caméra intelligente</a></li>
          <li><a href="#">Batterie connectée</a></li>
          <li><a href="#">Douille</a></li>
          <li><a href="#">Énergie</a></li>
          <li><a href="#">Glacier</a></li>
          <li><a href="#">Installation</a></li>
          <li><a href="#">Interphone</a></li>
          <li><a href="#">Micromodule</a></li>
          <li><a href="#">Hachoir</a></li>
          <li><a href="#">Machine à café</a></li>
          <li><a href="#">Mixeur Plongeant</a></li>
          <li><a href="#">Multicooker</a></li>
          <li><a href="#">Panneau solaires</a></li>
          <li><a href="#">Pet feeder</a></li>
        </ul>
      </div>
    </li>
    <li class="telephone-hover"><i class="fa-solid fa-mobile-screen-button"></i><a>Téléphonie &Tablette & Tv</a><span><i class="fa-solid fa-greater-than"></i></span>
      <div class="maison-cuisine telephone">
        <ul class="maison">
          <li><a href="#">Iphone reconditionnée</a></li>
          <li><a href="#">Smartphone</a></li>
          <li><a href="#">Accessoire informatique</a></li>
          <li><a href="#">Batterie connectée</a></li>
          <li><a href="#">Montres Connectées</a></li>
          <li><a href="#">Tablettes</a></li>
        </ul>
      </div>
    </li>
    <li class="sport-hover"><i class="fa-solid fa-person-walking"></i><a>Sport & Bien etre  </a><span><i class="fa-solid fa-greater-than"></i></span>
      <div class="maison-cuisine sport">
        <ul class="maison">
          <li><a href="#">Sport connecté</a></li>
          <li><a href="#">Soin & Beauté</a></li>
          <li><a href="#">Casque moto</a></li>
          <li><a href="#">Vélo éléctrique</a></li>
        </ul>
      </div>
    </li>
    <li class="bébé-hover"><i class="fa-solid fa-baby"></i><a>Bébé</a><span><i class="fa-solid fa-greater-than"></i></span>
      <div class="maison-cuisine bébé">
        <ul class="maison">
          <li><a href="#">Chauffe biberon</a></li>
          <li><a href="#">Mixeur cuiseur</a></li>
          <li><a href="#">Stérilisateur</a></li>
          <li><a href="#">Moniteur bébé</a></li>
          <li><a href="#">Lumiére</a></li>
        </ul>
      </div>
    </li>
    <li class="gaming-hover"><i class="fa-solid fa-headset"></i><a>Gaming </a><span><i class="fa-solid fa-greater-than"></i></span>
      <div class="maison-cuisine gaming">
        <ul class="maison">
          <li><a href="#">Console</a></li>
          <li><a href="#">Jeux</a></li>
          <li><a href="#">Accessoires gaming</a></li>
          <li><a href="#">Manettes & joysticks</a></li>
          <li><a href="#">Casques gaming</a></li>
        </ul>
      </div>
    </li>
    <li><i class="fa-solid fa-laptop"></i><a>Informatique </a><span><i class="fa-solid fa-greater-than"></i></span></li>
  </ul>
</div>

